*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    color: white;
}

body {
    background-color: black;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}

#ui {
    background: none;
}

.resume-container {
    background-color: rgba(1,1,1,0.6);
}